<div class="usage">
    <h2>How to Use This Tool</h2>

    <ol>
        <li>
            <p>Choose your environment the the menu on the top-right.</p>
        </li>
        <li>
            <p>Enter your search criteria, abiding by the following rules:</p>
            <ul class="unordered">
                <li>
                    <p>You may enter as many letters as you with the "Search By Table Name" input box</p>
                </li>
                <li>
                    <p>You may not use any spaces in the "Search By Table Name" input box. Please use underscores (_) as those are used in the HRM table names</p>
                </li>
                <li>
                    <p>You may use any case you with. lower_case, UPPER_CASE, mixed_CASE. </p>
                </li>
                <li>
                    <p>The above rules also apply for the "Search By Field Name" input box</p>
                </li>
                <li>
                    <p>Selecting either sorting order (alphabetic or highest row count firs) will NOT impact your results</p>
                </li>
                <li>
                    <p>Please be aware that unless you specifically request it, the checkbox to show empty tables is ticked off by default</p>
                </li>
            </ul>
        </li>
        <li>
            <p>Press the "FILTER" button (or press th enter key while one of the two input boxes is highlight) and have a little patience while we fetch your results. :)</p>
        </li>
        <li>
            <p>If you entered something in the "Search By Table Name" input box, your search term will be <span class="highlight-table">highlighted in green</span>.</p>
        </li>
        <li>
            <p>If you entered something in the "Search By Field Name" input box, your search term will be <span class="highlight-field">highlighted in blue</span></p>
        </li>
        <li>
            <p>If you wish to see sample entries for a selected table, follow these stemps.</p>
            <ul>
                <li>
                    <p>Click on the table's name</p>
                </li>
                <li>
                    <p>A modal window will open. It will contain the first ten rows of that table.</p>
                </li>
                <li>
                    <p>Please give the modal window a moment to refresh. Even if it contains data, they might not belong to your table.</p>
                </li>
                <li>
                    <p>Don't worry, we're talking a second or two, here. Not the fifteen you're used to with HRM.</p>
                </li>
                <li>
                    <p>To close the modal window, simply click anywhere outside of it.</p>
                </li>
            </ul>
        </li>
        <li>
            <p>Keep calm and love HRM</p>
        </li>
    </ol>
</div>