<table class="table-list">
    <thead>
        <tr>
            <td>Table Name</td>
            <td>Table Fields</td>
            <td>Table Row Count</td>
        </tr>
    </thead>
    <tbody>
        <tr class="tables-list-item" *ngFor="let table of tables">
            <td class="table-name" [hTable]="hight"><!--[hTable]="hight"-->
                <span md-button (click)="selectTable(table.name)">{{table.name}}</span>
            </td>
            <td class="table-fields">
                <ul class="fields-list">
                    <li class="field-item" *ngFor="let field of table.fields" [hField]="highf">{{field}}</li><!--[hField]="highf"-->
                </ul>
            </td>
            <td class="row-count">
                {{table.count | number:'2.0-0'}}
            </td>
        </tr>
    </tbody>
</table>