@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
html, body{
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  md-toolbar {
    .logo {
      width: 110px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .fill-space {
      flex: 1 1 auto;
    } 
    h2 {
    font-variant: small-caps;
    margin: 0 0 0 2%;
    }
    nav {


    }
  }

  span.active {
    background-color: gray;
  }


  span.highlight-table {
      background-color: lawngreen;
      color: #666;
      font-weight: 800;
  }
  span.highlight-field {
      background-color: deepskyblue;
      color: #666;
      font-weight: 800;
  }
}